<% include _header %>
    <br>
    <h1> BRIAYAN'S GYM</h1>

    <h2> Para asaltar tambien necesitas verte bien </h2>
    <div class="list-group"></div>
    <a class="list-group-item list-group-item-primary">
    Usuarios
</a>

    <% usuarios.forEach((usuarios)=> {%>
        <div class="panel panel-default">
            <div class="panel-heading">
                <a href="/usuarios/<%= usuarios.username %>" class="list-group-item list-group-item-action">
                    <%= usuarios.name() %>
                </a>
            </div>
            <% if (usuarios.bio) { %>
                <div class="panel-body">
                    <%= usuarios.bio %>
                </div>
                <% } %>
        </div>
        <% }) %>

            <% include _footer %>